{% load static %}
{% include "STLViewer/header.html" %}

</div>
</nav>
</header>
<main>


  <section class="py-1 text-center container">
    <h1>{{ collection.name }}</h1>
    {% if collection.privacy == 'public' %}
    <p>Public Collection</p>
{% else %}
    <p>Private Collection</p>
{% endif %}
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&{{ filter_tag }}&search={{search_string}}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&{{ filter_tag }}&search={{search_string}}">previous</a>
        {% endif %}    
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>    
         {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&{{ filter_tag }}&search={{search_string}}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&{{ filter_tag }}&search={{search_string}}">last &raquo;</a>
        {% endif %}
    </span>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        {% if page_obj %}
        {% for item in page_obj %}
        <div class="col-sm-3">
          <div class="card shadow-sm">

            <img class="img-responsive" src="{% get_static_prefix %}{{item.thumbnail}} ">

            <div class="card-body">
              <p class="card-text">{{item.name}} <br>
                <small>
                Tags: 
                  {% for tag in item.getTagNames %}
                      {% if forloop.last %} 
                        <a href="../../index/?tagFilter={{ tag }}">{{ tag }}</a>
                      {% else %}
                        <a href="../../index/?tagFilter={{ tag }}">{{ tag }}</a>,
                      {% endif %}
                  {% endfor %}
                </small>
    
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="../../item/?id={{item.itemid}}"><button type="button" class="btn btn-sm btn-outline-secondary">STL Details</button></a>
                  <a href="../../download/?id={{item.itemid}}"><button type="button" class="btn btn-sm btn-outline-secondary">Download</button></a>
                </div>
              </div>

            </div>
            <!-- Add remove from collection button -->
        <form method="POST" action="{% url 'remove_from_collection' collection.id item.itemid %}">
          {% csrf_token %}
          <button type="submit">Remove from Collection</button>
      </form>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>No Images Uploaded for this category</h2>
        {% endif %}

      </div>
    </div>
  </div>

</main>

{% include "STLViewer/footer.html" %}