{% load static %}

{% include "STLViewer/header.html" %}
<script type="module" crossorigin src="{% static 'js/renderSTL.js'%}" defer></script>
</div>
</nav>
</header>

{% if item %}
    <ul>
        <div>Name: {{ item.name }} </div>
            <div>
                <container>
                    <div>Thumbnail: <a href="../thumbeditor/?id={{item.itemid}}">Edit</a></div>
                    <img src="{% get_static_prefix %}{{item.thumbnail}}">
                </container>
            </div>
            {% if dublicates|length > 0 %}
            Duplications:

                {% for item in dublicates %}
                <a href="../item/?id={{item}}">{{item}}</a>
                {% endfor %}
            {% endif %}
        <br>
        <form class="form-inline" action="" method="POST">
            {% csrf_token %}
            {{ tagEditor_form }}
            <input type="hidden" name="id" value="{{ item.itemid }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Speichern</button>
        </form>
    </ul>
{% else %}
    <p>No Items.</p>
{% endif %}

{% include "STLViewer/footer.html" %}