{% load static %}

{% include "STLViewer/header.html" %}
<script type="module" crossorigin src="{% static 'js/renderSTL.js'%}" defer></script>
</div>
</nav>
</header>
<ul>
<div>
    <container>
        3D Render (Refresh Page to see updated Thumbnail):
        <div id="app"></div>
        <div id="button-container"></div>
    </container>
</div>
<script>

var stlFile = "{% static '/stl/'|add:temp_stl %}";
var mID ="{{ item.itemid }}";
</script>
<br>

<a href="">Back to Details</a>
</ul>

{% include "STLViewer/footer.html" %}