<footer class="text-muted py-5">
    <div class="container">
      <p>Footertext: Foobar</p>
    </div>
  </footer>
  {% load static %}
  <script src="{% static 'js/jquery-3.6.4.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>
  <script src="{% static 'django_select2/django_select2.js' %}"></script>
  
    </body>
  </html>